/* Font imported from googlefonts */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

/* Used to place the footer at the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #fff;
    background-color: #161616;
    margin: 0 0 45px;
}

.title-container {
    margin: 55.500px;
}

.title-container > a {
    display: inline;
}

/* Footer always at the bottom of the page */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    overflow: hidden; 
    background-color: #474747;
    padding: 0.7%;
    text-align: center;
    font-size: 0.9rem;
}

footer > p {
    margin: 0;
}
/* End footer */

/* Effects for the links in Top 10 Coins */
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* End of the effects for the links */

#coin-header{
    margin-top: 8%;
    margin-bottom: 5%;
}
.coin-price {
    display: inline-block;
    text-align: center;
    padding: 0;
}

#coin-name {
    text-transform: capitalize;
    font-size: 2.2em;
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-top: 1%;
}

#coin-symbol {
    font-size: 0.6em;
    color: #999999;
}

.price {
    font-size: 3em;
}

small {
    font-size: 0.5em;
}

.positive-percent {
    color: #5eff4c;
}

.negative-percent {
    color: #ff4c4c;
}

/* Responsive */

@media only screen and (max-width: 990px) {
    #coin-name {
        font-size: 2rem;
    }
    .coin-price {
        font-size: 0.8rem;
    }
    #coin-header{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 766px) {
    #coin-name {
        font-size: 1.9rem;
    }
    .coin-price {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 574px) {
    footer > p {
        margin: 2%;
    }
    #title {
        font-size: 2.5rem!important;
    }
    .title-container {
        margin: 5%
    }
    #coin-name {
        font-size: 1.7rem
    }
    .coin-price {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 452px) {
    footer {
        font-size: 0.8rem;
    }
}

/* End Responsive */