/* Font imported from googlefonts */
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");

/* Used to place the footer at the bottom of the page */
html {
    position: relative;
    min-height: 100%;
}

body {
    color: #fff;
    background-color: #161616;
    margin: 0 0 45px;
}

.title-container {
    margin: 5%;
}

.title-container > a {
    display: inline;
}

.form-coin {
    margin: 0;
}

.error-message {
    display: block!important;
    margin: 20px;
    color: red;
    visibility: hidden;
}

.main-form {
    margin: 5% 5% 0% 5%;
}

.coins-table {
    margin: 0% 5% 5% 5%;
    display: inline-block;
    padding: 0% 2% 0% 2%;
}


#coins-table-title{
    font-family: "Titillium Web";
    margin: 16px 0% 15% 0%;
    color: #33b5e5;
    text-align: center;
    text-transform: uppercase;
}

.coins-table > b {
    text-transform: uppercase;
}

/* Color the Top 5 Coins gradually, from green to white */
#topcoin-1 > b {
    color: #00ff09;
}

#topcoin-2 > b {
    color: #30ff37;
}

#topcoin-3 > b {
    color: #45f94b;
}

#topcoin-4 > b {
    color: #77ff7b; 
}

#topcoin-5 > b {
    color: #a1fca4;
}
/* End Top 5 Coins */

/* Effects for the links in Top 10 Coins */
a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
/* End of the effects for the links */

/* Footer always at the bottom of the page */
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    overflow: hidden; 
    background-color: #474747;
    padding: 0.7%;
    text-align: center;
    font-size: 0.9rem;
}

footer > p {
    margin: 0;
}
/* End footer */

/* Search results */

#search {
    text-align: center;
    visibility: hidden;
    text-transform: capitalize;
    font-size: 1.7em;
}

#search-info {
    padding: 0;
    margin-top: 0.5%;
    visibility: hidden;
}

/* End search results

/* Change currency button */

.dropdown-item:hover{
    background: #f8f9fa!important;
    cursor: pointer;
}

.dropdown-menu{
}

/* End change currency button */

/* Responsive */
@media only screen and (max-width: 574px) {
    #title {
        font-size: 3rem;
    }
    .form-group {
        width: 80%!important;
    }
    .coins-table {
        display: block;
    }
    footer > p {
        margin: 2%;
    }
}

@media only screen and (max-width: 452px) {
    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 440px) {
    #search-info-text{
        font-size: 0.8rem;
    } 
}
/* End Responsive */